<%- include("header") -%>

<html>
  <head>
    <title>Le projet de Zakaria</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <title>Ici seront listés les entrainements</title>
    <h1>Liste des entraînements</h1>
    <br />

    <a class="btn btn-success" href="/addEntrainement" role="button">
      Ajoutez un entrainement</a
    >
    <br />
    <br />

    <ul>
      <% for( const [key,value] of Object.entries(EntrainementList) ) { %>
      <li>
        <div class="card justify-content-center " style="width: 20rem">
          <div class="card-body">
            <h5 class="card-header">Entrainement <%= key %> : 
             <br> <br>
            <a class="btn btn-danger" href="/delete-entrainement/<%=key%>"> 
                Effacez cet entrainement
              </a></h5>
            <h5 class="card-title">
              
            </h5>
            <h6 class="card-subtitle mb-2 text-muted"> Liste des exercices de l'entraînement :</h6> <br>

            <ul>
              <% for( let i=0; i < value.length; i++) { %>
              <li>
                <div>
                  <p>
                    <%= value[i].nomExercice%>

                    <a
                      class="btn btn-danger"
                      href="/delete-exercice-entrainement/<%= value[i].identrainement_exercice %> "
                    >
                      Effacer
                    </a>
                  </p>
                </div>

                <br />
                <% if (value.length -1 == i) { %>
                
                <div>Temps de repos : <%= value[i].repos %> secondes</div> </br>

                <% if (value[i].Done > 0) { %>
                <a 
                  class="btn btn-success"
                  href="/change-statut/<%= value[i].idEntrainement %>/<%= value[i].Done %>"
                >
                  Entrainement réalisé
                </a>

                <% } else { %>

                <a
                  class="btn btn-warning"
                  href="/change-statut/<%= value[i].idEntrainement %>/<%= value[i].Done %>"
                >
                  Entrainement non réalisé
                </a> 
                <% } %> <% } %> 
              </li>

              <% } %> </br>
              <form action="/add-exercice-entrainement" method="POST">
                <select name="exercice">
                  <% for (let i=0 ; i < exerciceList.length ; i++) { %>
                  <option value="<%= exerciceList[i].idexercice%>">
                    <%= exerciceList[i].nomExercice%>
                  </option>
                  <% } %>
                </select>
                <input type="hidden" name="entrainement" value="<%= key %>" />
                <input type="submit" value="Ajouter cet exercice" />
              </form>
            </ul>
          </div>
        </div>

        <br />
      </li>

      <% } %>
    </ul>
  </body>

  <%- include("footer") -%>
</html>